* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(10, 27, 78);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  justify-content: space-between;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  font-size: 1.05rem;
  color: #ff5925;
}
main hr {
  border: 0;
  background: #ff5925;
  height: 1.2px;
  margin: 60px 84px;
}
.left {
  font-size: 2rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0;
}
.firstSection > div {
  width: 35%;
}
.leftSection {
  /* background-color: red; */
  font-size: 2.5rem;
  margin-top: -200px;
}
.leftSection img {
  width: 90%;
}
.rightSection img {
  width: 80%;
}
.btn {
  padding: 8px;
  background: #ff5925;
  color: white;
  border: 2px solid rgb(10, 27, 78);;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}
.kesari {
  color: #ff5925;
}
.gray {
  color: gray;
}
#element {
  color: #ff5925;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.5rem;
}
.secondSection .box {
  background: #ff5925;
  width: 150vh;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -10px;
}
.vertical {
  height: 93px;
  width: 1px;
  background-color: #ff5925;
  margin: 0 100px;
}

.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  left: -60px;
}
.vertical-desc {
  position: relative;
  top: 86px;
  color: gray;
  width: 150px;
  font-size: 9px;
  left: -60px;
}
footer {
  background-color: #0e0e1a;
  /* background-color: red; */
}
.footer {
  justify-content: space-evenly;
  display: flex;
  padding: 23px 122px;
}
.footer ul {
  list-style: none;
  text-decoration: none;
}
.footer ul a {
  color: white;
  text-decoration: none;
}
.footer > div {
  width: 223px;
}
.footer-rights {
  text-align: center;
  padding: 20px 0;
}
.btn a {
  text-decoration: none;
  color: white;
}
.buttons {
  padding: 50px 0;
}
